
th {
    font: 30px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: black;
}
body {
  height:100%;
}

td img{
  text-align:center;
  width:225px;
  height:300px;
}

td {
  text-align:center;
  width:300px;
  font-family: sans-serif;
  color: black;
}

tr {
border: 5px;
border-color:white;

}

a {
  background-color: black;
  color: white;
  font: 30px/1.3 'Oleo Script', Helvetica, sans-serif;
  border: 75px;
  padding: 10px;
}
