@font-face {
    font-family: 'Carnivalee Freakshow';
    src: url("./Carnevalee_Freakshow.ttf");
    font-weight: normal;
    font-style: normal;
}

body {background-color: #a8caed;}

h1 {
  color: #eff4fc;
  font-family: 'Carnivalee Freakshow', arial;
  font-size: 200px;
  text-align: center;
  text-shadow: 8px 8px 8px #aaa;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  text-align: center;
  color: black;
  font: 60px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  margin-bottom: 0;
}

.picture {
  text-align: center;
  width: 100%;
  height: 353px;

}
.picture img {
      width:500px;
      height: 353px;
    }

  ul li a{
      background-color: black;
      color: white;
      font: 30px/1.3 'Oleo Script', Helvetica, sans-serif;
      border: 75px;
      padding: 10px;
    }

    ul li{
            display: inline-block;
            border: white 4px solid;
            align: center;
            margin: 0 40px;
    }

    ul {
      width: 100%;
      padding: 20px;
      text-align: center;
    }
